@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.sidebar {
  max-width: 1px;

  transition: max-width 0.4s ease;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 3px v.$color-archived;

  &:hover {
    max-width: 20.25rem;
    width: 20.25rem;
  }

  button {
    display: flex;
    background-color: inherit;
    border: none;
    gap: 1rem;
    padding: 0.8rem 1rem;

    &:hover {
      color: v.$color-primary;
      background-color: #f5f3ff;
    }
  }

  &_header {
    @include m.flexCenter(row, space-between);
    flex: 0 0 auto;

    border-left: solid 6px v.$color-primary;
    gap: 0.2rem;
    display: flex;
    font-size: 1rem;
    padding: 0rem 1rem;
    border-bottom: solid 0.125rem v.$color-archived;
    height: 3.125rem;
    color: v.$color-primary;

    &_title {
      display: flex;
      @include m.flexCenter(row, center);
      gap: 0.5rem;
    }

    &_expand {
      color: black;
      margin-left: 0.8rem;
      font-size: 1.2rem;

      &:hover {
        color: v.$color-primary;
      }
    }
  }
  &_list {
    display: flex;
    flex-direction: column;
    border-bottom: solid 3px v.$color-archived;
    flex: 1 1 auto;
  }

  &_user {
    @include m.flexCenter(row, start);
    flex: 0 0 auto;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
    display: flex;
    font-size: 1rem;

    height: 3.125rem;
    font-weight: 500;

    &_avatar {
      width: 2rem;
      border-radius: 0.5rem;
    }
  }
}

.openSidebar {
  max-width: 20.25rem;
  width: 20.25rem;
}
